@charset "utf-8";

html,body{
    margin:0;
}
ul,li,ol{list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
img{vertical-align:top;}
a{text-decoration:none; cursor:pointer;}

*{
    font-family: 'Nunito Sans','Montserrat', sans-serif; 
    font-size: 17px;
    color: #401e20;
    line-height: 1.4;
    letter-spacing: -0.5px;
    word-break: keep-all;
    box-sizing: border-box;
    outline: none;
}
html{scroll-behavior: smooth;}

