@import "_common";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


$w:100%;
// header
.head-all{
    position:relative;
    width:$w;
    height:80px;
    position:fixed;
    top:0; left:0;
    z-index:999;
    .head-top{
            width:100%;
            height:100%;
            background:#fff;
        .head{
            height:$w;
            @include flex;
            @include width;
            transition: all 0.5s;
            .logo{
                width:12%;
                @include head;
                max-width:180px;
                margin-right:80px;
                a{
                    width:$w;
                    img{width:$w;}
                }
            }
            .menu_list{
                width:58%;
                text-align:left;
                padding-right:22%;
                @include head;
                ul{
                    width:$w;
                    @include flex;
                    li{
                        a{
                            font-family:'Montserrat',sans-serif; 
                            font-size:1.1rem; font-weight:bold;}
                    }
                }
            }
            .menu_tab{
                width:30%;
                @include head;
                @include flex;
                .menu_tab1{
                    width:30%;
                    @include flex;
                    li{
                        width:50%;
                        font-family:'Montserrat',sans-serif;
                        cursor: pointer;
                        @include fontStyle;
                        &:nth-of-type(1)::after{
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 14px;
                            background: #401e1e;
                            right: -4px;
                            top: 50%;
                            transform:translateY(-50%);
                        }
                    }                
                }
                .menu_tab2{
                    width:40%;
                    @include flex;
                    width: 234px;
                    height: 48px;
                    border: 3px solid #f52334;
                    border-radius: 24px;
                    margin: 0 30px 0 20px;
                    li{
                        width:50%;
                        color: #f52334;
                        line-height: 45px;
                        cursor: pointer;
                        @include fontStyle;
                        &:nth-of-type(2){
                            background-color: #f52334;
                            border-radius: 24px;
                            color:white;
                        }
                    }
                }
                .menu_trigger{
                    width:15%;
                    img{cursor: pointer;}
                }
            }
        }
    }
    .menu_box{
        width:$w;
        height:301px;
        position:absolute;
        top:80px;
        left:50%;
        transform:translateX(-50%);
        .menu_box_content{
            width:$w;
            height:$w;
            position:absolute;
            top:0; left:0;

            overflow:hidden;
            border-top:1px solid #e4e4e4;
            background:#fff;
            opacity: 1;
            z-index: 99;
            .menu_box_sub1{
                @include width;
                @include flex($a:top, $j:space-between);
                height:$w;

                h2{
                    width:15%;
                    text-align:center; 
                    padding-top:30px;
                    font-size:1.47rem;
                    position:relative;
                    &::after{
                        content:'';
                        position: Absolute;
                        width: 70px;
                        height: 1px;
                        right:-25px;
                        top: 46px;
                        margin-top: -1px;
                        background: rgba(10, 31, 50, 0.2);
                    }
                }
                ul{
                    padding-top:30px;
                    width:20%;
                    li{
                        width:70%;
                        margin:0 auto;
                        text-align:left;
                        font-size:1.12rem;
                        margin-bottom:8px;
                        cursor: pointer;
                        &:hover{
                            color:#f52334;
                            font-weight:700;
                        }
                    }
                }
                figure{ 
                    width:63.5%;
                    height:$w;
                    img{width:$w;}
                }
            }
        }
    }
    .ham_menu{
        position: fixed;
        width: $w;
        height: $w;
        top: 0;
        left:-100%;
        opacity: 1;
        background: #fff5d9;
        text-align: center;
        z-index: 999;
        transition: all 1s;
        a{
            display: inline-block;
            margin: 40px auto;
            img{width:100%;}
        }
        .ham_close{
            position:absolute;
            top:50px;
            right:50px;
            cursor: pointer;
        }

        ul{
            font-size: 0;
            width:90%;
            margin:0 auto;
            @include flex($a:top);
            .ham_menu_list{
                width:15%;
                text-align:center;
                margin-bottom: 20px;
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 15%;
                margin-right: 2%;
                &::before{
                    content: '';
                    position: absolute;
                    width: 95%;
                    height: calc(100% - 140px);
                    top: 25%;
                    left: 6%;
                    background: #ffdcd1;
                    border: 2px solid #3c2121;
                    z-index: -1;
                    transition: all 0.5s;
                }

                a{
                    position: relative;
                    width: 100%;
                    height: 80px;
                    line-height: 82px;
                    font-size: 2.05rem;
                    background: #3c2121;
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 10px;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 72px;
                        width: 100%;
                        background: url(/img/ham_ring.png)no-repeat center center;
                        height: 42px;
                        left: 0;
                        z-index: 2;
                        transition: all 0.5s;
                    }
                }
                .ham_menu_box{
                    position:relative;
                    width: 97%;
                    height:26vw;
                    padding: 60px 15px 40px;
                    background: #fff;
                    border: 2px solid #3c2121;
                    transition-property: height, opacity,background-color;
                    transition-duration: 0.5s;
                    z-index: 1;
                    &:hover{
                        background: #ffe675;
                    }
                    ul{
                        width:100%;
                        display:flex;
                        align-items: center;
                        justify-content: top;
                        flex-direction: column;

                        li{
                            display: list-item;
                            text-align: left;
                            width:98%;
                            margin:0 auto;
                            font-size: 1.5rem;
                            color: #3c2121;
                            font-weight: 300;
                            letter-spacing: -2.5px;
                            margin-bottom:10px;
                            &:hover{
                                color:#f52334;
                                font-weight:500;
                            }
                        }
                    }
                }
            }
        }
    }
    .ham_menu.active{
        left:0;
    }
}
//main
main{
    .s-1{
        height:100vh;
        background-color:#ffe2de;
        position:relative;
        overflow:hidden;
        z-index:-2;
        .s-1-content{
            @include flex;
            position:absolute;
            top:50%; left:50%;
            transform:translate(-50%,-50%);
            width:70%;
            animation:startS1 1s forwards;
            .s-1-text{
                width:55%;
                position:relative;
                padding-left:80px;
                span{
                    position:absolute;
                    top:0;left:0;
                }
                .star1{animation:beat .5s infinite}
                .star2{
                    top:50px; left:40px;
                    animation:beat .3s infinite
                }
                p{
                    width:100%;
                    font-size:5rem;
                    color:#3b2120;
                    font-weight:300;
                    letter-spacing:-7px;
                    strong{
                        font-size:5rem;
                    }
                }
            }
            .s-1-img{
                width:45%;
                position:relative;
                .img-icon{position:absolute;left:-50px;top:30%;animation:fun 2s infinite; animation-delay:.8s;}
                .img-txt{position:absolute;right:0;top:0; animation:beat 1s infinite;  z-index:23;}
                .imgbg{
                    position:relative;
                    z-index:-1;
                    width:590px;
                    height:590px;
                    border-radius:50%;
                    background-color:#ffd55f;
                    .bigimg{
                        width:100%;
                        transform-origin:bottom;
                        transform:scale(0.9);
                        opacity: 0;
                        animation:appearanceimg 1.25s forwards;
                        animation-delay:0.5s;
                       
                        img{
                            width:100%;
                            animation:fun 2s infinite;
                            animation-delay:1.8s;
                        }
                    }
                }
            }
        }
        .bgcircle-top{
            @include circle;
            width:360px;
            height:360px;
            background-color:#fff0ee;
            top:-110px;
            left:430px;
        }
        .bgcircle-bottom{
            @include circle;
            width:900px;
            height:900px;
            background-color:#fffce4;
            bottom:-450px;
            left:-400px;
            z-index:-1;
        }
        .bgcircle-right1{
            @include circle;
            width:176px;
            height:176px;
            background-color:#ffd0ca;
            right:77px;
            bottom:-20px;
        }
        .bgcircle-right2{
            @include circle;
            width:352px;
            height:352px;
            background-color:#dff4f0;
            right:-170px;
            bottom:30px;
            z-index:-1
        }
        .bigimg-bg{
            position:absolute;
            width:392px;
            height:392px;
            right:600px;
            bottom:60px;
            z-index:-1;
        }
    }
    .s-2{
        width:100%;
        height:100vh;
        background-color:rgb(255,249,205);
        position:relative;
        overflow:hidden;
        z-index:-2;

        .s-2-content{
            @include flex;
            width:100%;
            height:100%;
            margin:0 auto;
            .s-2-list{
                width:36%;
                height:100%;
                position:relative;
                .s-2-list-el{               
                    width:35%;
                    position:absolute;
                    right:20%;
                    top:30%;
                    transform:translateY(-30%);
                    li{
                        position:relative;
                        min-width:300px;            
                        margin:30px 0;
                        display: block;
                        text-align: center;
                        opacity:0.4;
                        p{
                            width:100%; 
                            strong{
                                position:relative;
                                display:block;
                                min-width:300px;
                                padding:15px 0;
                                font-family:'Montserrat', sans-serif;
                                font-size:50px;
                                color:#3c2121;
                                font-weight:700;
                                background-color:#fff9cd;                    
                            }
                        }
                        img{
                            opacity: 0;
                            position:absolute;
                            top:50%;
                            right:-70px;
                            transform:translateY(-50%);
                        }
                    }
                    li.active{
                        position:relative;
                        min-width:300px;            
                        transform:rotate(-5deg);
                        margin:30px 0;
                        display: block;
                        text-align: center;
                        opacity:1;
                        p{
                            width:100%; 
                            strong{
                                position:relative;
                                display:block;
                                min-width:300px;
                                padding:15px 0;
                                font-family:'Montserrat', sans-serif;
                                font-size:50px;
                                color:#3c2121;
                                font-weight:700;
                                border:2px solid #3c2121; 
                                background-color:#fff9cd;
                                &::before{
                                    content:'';
                                    position:absolute;
                                    width:100%;
                                    height:100%;
                                    right:-10px;
                                    bottom:-10px;
                                    background:#ee7868;
                                    border:2px solid #3c2121;
                                    z-index:-6;
                                }                          
                            }
                        }
                        img{
                            opacity: 1;
                            position:absolute;
                            top:50%;
                            right:-70px;
                            transform:translateY(-50%);
                        }
                    }
                }
            }
            .s-2-bigimg{
                width:34%;
                transform:scale(0.9);
                img{
                    width:100%;
                    animation: rotateS2 3s infinite;
                    transition: all 5s;
                }
            }
            .s-2-text{
                width:30%;
                p{
                    color:#3c2121;
                    font-size:1.41rem;
                    font-weight:300;
                    letter-spacing:-2px;
                    strong{
                        display:block;
                        color:#3c2121;
                        font-weight:300;
                        letter-spacing:-3.5px;
                        margin-bottom:30px;
                        font-size:4.1rem;
                    }
                }
            }
        }
        .s-2-bg-topleft{}
        .s-2-bg-topright{}
        .s-2-bg-bottomleft{}
        .s-2-bg-bottomright{}
    }
}
//footer
footer{
    .footer{
        .foot_wr{
            position: relative;
            width: 100%;
            padding: 80px 260px 60px;
            background: #3b2120;
            color: #fff !important;
            @include flex;
            .foot_box{
                position: relative;
                display: inline-block;
                vertical-align: middle;
                width: 33.33%;
                color:white;
                ul{
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        font-size: 1.47rem;
                        color:white;
                    }
                }
                .foot_txt{
                    margin-top: 30px;
                    font-size: 0.88rem;
                    font-weight: 300;
                    color: rgba(236, 236, 236, 0.7) !important;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 146px;
                    background: rgba(255,255,255,0.2);
                    top: 50%;
                    margin-top: -73px;
                    right: 0;
                }
                &:last-of-type::after{
                    width:0;
                    height:0;
                }
            }
            .text_center{
                text-align: center;
            }
            .text_right{
                text-align: right;
                .sns_list{
                    margin-top: 40px;
                }
            }
        }
        .foot_copy{
            width: 100%;
            height: 57px;
            line-height: 57px;
            background: #2d1817;
            font-family: 'Roboto', sans-serif;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            font-size: 0.82rem;
        }
    }
}
//animation
@keyframes beat {
    0%{transform: rotate(0) scale(0.95);}
    50%{transform: rotate(5deg) scale(1.1);}
    100%{transform: rotate(0) scale(0.95);}
}
@keyframes fun {
    0%{transform: rotate(0);}
    50%{transform: rotate(1deg);}
    100%{transform: rotate(0);}
}
@keyframes startS1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes appearanceimg {
    0%{transform: translateX(-20%) scale(0.9);opacity: 0;}
    25%{transform: translateX(0%) scale(0.9);opacity: 1;}
    55%{transform: rotate(-4deg) scale(0.9);opacity: 1;}
    70%{transform: rotate(4deg) scale(0.9);opacity: 1;}
    85%{transform: rotate(-2deg) scale(0.9);opacity: 1;}
    100%{transform: rotate(0) scale(0.9);opacity: 1;}
}
@keyframes rotateS2 {
	0% {
		transform:rotate(0deg);
	}50% {
		transform:rotate(-10deg);
	}100% {
		transform:rotate(0deg);
	}
}

@import "_media";